/* All styles for your Card Components live here */
.cardContainer {
    display: flex;
    flex-direction: column;
}   

.banner-image {
    max-width: 85%;
    margin-right: 20px;
    align-self: flex-end;
}

.cardContent {
    box-sizing: border-box;
    border: 1px solid rgb(231, 228, 228);
    max-width: 85%;
    align-self: flex-end;
    margin-right: 20px;
    padding-left: 15px;
}

.cardContent h2 {
    font-size: 1rem;
}

.cardContent p {
    margin: 10px 0;
}

.cardContent h4 {
    margin-top: 0;
    color: rgb(150, 147, 147);
    font-weight: 100;
    font-size: 0.9rem;
}